<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/employees">Liste des employés</a></li>
        <li><a href="/employees/1">Employé n°1</a></li>
        <li><a href="/employees/2">Employé n°2</a></li>
    </ul>
    <h1> This is {{ page }} !</h1>
    <div>
        <ul>
            {{ list }}
        </ul>
    </div>
</body>
</html>